body {
    margin: 0 auto;
	width: 80%;
}

#header{
	margin-top: 40px;
	text-align: center;
}

#contenu{
	margin-top: 30px;
	width: 100%;
	min-width: 720px;
	max-width: 2000px;
    float: left;

	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


#menu{
    float: left;
	margin: 20px 20px 20px 20px;
	padding: 2px 8px;
	height: 400px;
	width: 30%;
	min-width: 260px;
	max-width: 800px;
	
	border: solid black 2px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

input{
	margin-top: 2px;
	margin-bottom: 2px;
	
	width : auto;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	
	box-shadow:2px 2px 10px gray;
	-moz-box-shadow:2px 2px 10px gray;
	-webkit-box-shadow:2px 2px 10px gray;
}

label {
    width: 100px;
    float: left;
    text-align: right;
	font-size: 17.5px;
}

#menu h5{
	text-align: center;
	font-size: 20px;
}

.submit_recherche:hover{
	background-color: rgb(224,224,224);
	cursor: pointer;
}


#fenetre {	
	margin-top: 20px;
	width: 54%;
	min-width: 300px;
	max-width: 1000px;
	height: 400px;
    float: left;
	overflow-y: scroll;

	border: solid black 2px;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#fenetre ol{
	list-style-type: none;
}

/* Simulation des balises details et summary */
details, summary {
display: block;
}

summary {
cursor: pointer;
/*border: solid black 0.8px;*/
}

summary:hover, summary:focus {
background: #ddd;
}

.no-details details > * {
display: none;
}

/*Mettre les images de puces : fleche haut et fleche bas */
.no-details details summary:before {
float: left; width: 20px; content: '-';
}
.no-details details.open summary:before {
content: '-';
}

.no-details details summary {
display: block;
}

#footer{
	text-align: right;

    width: 100%;
	float: left;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 2px 8px 6px 2px;
	
	border: 2px solid black;	
	
	box-shadow:2px 2px 10px gray;
	-moz-box-shadow:2px 2px 10px gray;
	-webkit-box-shadow:2px 2px 10px gray;
	
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}