#annuaire {
	margin-top: 20px;
}

.liste_entreprises {
	height: 500px;
	overflow: scroll;
}

table .first{
	width: 20px;
}

.entreprise:hover{
	cursor: pointer;
}

.editionEntreprise {
	margin-right: 10px;
	margin-top: 5px;
	float:right;
}

#contacts td .btn {
	margin-right: 5px;
	
}
#contacts td .btn:last-child {
	margin-right: 0px;
	
}

#options {
	float:right;
	margin-top: 10px;
	margin-left:5px;
}