/* ---------- GLOBAL ---------- */

body {
    padding-top: 25px;
}

/* tablesorter */


table.tablesorter thead tr .header {
	background-image: url(../img/symboles/bg.gif);
	background-repeat: no-repeat;
	background-position: center left;
	cursor: pointer;
	padding-left: 20px;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/symboles/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/symboles/desc.gif);
}

/* ---------- MODULE ANNUAIRE ---------- */

#annuaire {
	margin-top: 20px;
}

#annuaire .liste_entreprises {
	height: 500px;
	overflow: scroll;
}

#annuaire table .first{
	width: 20px;
}

#annuaire .entreprise:hover{
	cursor: pointer;
}

#annuaire .editionEntreprise {
	margin-right: 10px;
	margin-top: 5px;
	float:right;
}

#annuaire #contacts td .btn {
	margin-right: 5px;
	
}
#annuaire #contacts td .btn:last-child {
	margin-right: 0px;
	
}

#annuaire #options {
	float:right;
	margin-top: 10px;
	margin-left:5px;
}

/* ---------- MODULE STAGE ---------- */

#stages #submit_recherche {
	float: right;	
}

#stages h1 {
	text-align: left;
	margin-bottom: 10px;
}

#stages #form_stages {
	min-height: 170px;
}	

/* Simulation des balises details et summary */
#stages details, summary {
	display: block;
}

#stages summary {
	cursor: pointer;
}

#stages summary:hover, summary:focus {
	background: #ddd;
}

#stages .no-details details > * {
	display: none;
}

/*Mettre les images de puces : fleche haut et fleche bas */
#stages .no-details details summary:before {
	float: left; width: 20px; content: '-';
}
#stages .no-details details.open summary:before {
	content: '-';
}

#stages .no-details details summary {
	display: block;
}


/* ---------- MODULE RIF ---------- */

#layout.titre {
	text-align:center;
	font-size:40px;
	font-weight:bold;
	letter-spacing: -3px;
	font-style: oblique;
	margin-bottom:30px;
	color: rgb(83, 83, 83);
}

#layout.footer {
    border-top: solid 1px grey;
    margin: 0px;
    margin-top: 15px;
    padding: 2px;
    font-size: 0.8em;
    text-align: right;
}

#accueil .hero_motcle {
	font-weight: bold;
	font-size: 1.2em;
	color: #049cdb;
}

#accueil #network {
	margin-top: 30px;
}

#accueil #network li {
	list-style: none;
	display: inline-block;
	margin: 11px;
}

#rif p:first-letter
{
	padding-left:20px;
}

#rif .centre
{
	text-align:center;
}

#rif .comment{
	font-size:0.9em; 
	color:grey; 
	font-style:italic;
}
