body {
    padding-top: 25px;
}

.titre {
	text-align:center;
	font-size:40px;
	font-weight:bold;
	letter-spacing: -3px;
	font-style: oblique;
	margin-bottom:30px;
	color: rgb(83, 83, 83);
}

p:first-letter
{
	padding-left:20px;
}

#footer
{
    border-top: solid 1px grey;
    margin: 0px;
    margin-top: 15px;
    padding: 2px;
    font-size: 0.8em;
    text-align: right;
}

.centre
{
	text-align:center;
}

.hero_motcle {
	font-weight: bold;
	font-size: 1.2em;
	color: #049cdb;
}

#network {
	margin-top: 30px;
}

#network li {
	list-style: none;
	display: inline-block;
	margin: 11px;
}
.comment{
	font-size:0.9em; 
	color:grey; 
	font-style:italic;
}
